<%- include('partials/header') %> 

    <main>
        <section id="hero">
            
            <div class="desktop-view">
                <img src="https://i.postimg.cc/zBrwjT1B/home-large.png" alt="CSE Motors Home Page" class="desktop-img">
            </div>

            
            <div class="mobile-view">
                <img src="https://i.postimg.cc/g24PdHg9/home-mobile.png" alt="CSE Motors Mobile View"
                    class="mobile-img">
            </div>
        </section>

        
        <section id="about">
            <h1>Welcome to CSE Motors</h1>
            <p>Your one-stop destination for the best car models and services!</p>
        </section>
    </main>

    <%- include('partials/footer') %> 