/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 20px;
    color: white;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
}

/* Section Styles */
#hero {
    text-align: center;
}

/* Desktop View */
.desktop-view img {
    width: 100%;
    max-width: 1200px;
    /* Max size for desktop view */
}

/* Mobile View */
.mobile-view img {
    width: 100%;
    max-width: 600px;
    /* Max size for mobile view */
    display: none;
    /* Hide by default */
}

/* Media Queries for Mobile */
@media (max-width: 768px) {
    .desktop-view img {
        display: none;
        /* Hide desktop image on small screens */
    }

    .mobile-view img {
        display: block;
        /* Show mobile image on small screens */
    }
}